<!DOCTYPE html>
<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header', {pagina: 'Sobre'}); %>
            <main>
                <div class="jumbotron">
                    <h1>Sobre mim</h1>
                    <p>Olá! Eu sou Milton Araújo, Desenvolvedor Web.</p>
                    <p>Para mais informações entre em contato comigo conforme abaixo:</p>
                    <a href="https://github.com/miltonjrdev">GitHub</a>
                    <br>
                    <a href="https://www.instagram.com/miltonjra/">Instagram</a>
                </div>
            </main>
            <%- include('../partials/footer'); %>
    </body>

    </html>